body {
	background: rgb(195, 255, 254);
	background: radial-gradient(circle, rgba(195, 255, 254, 1) 0%, rgba(0, 116, 255, 1) 100%);
	height: 100vh;
	min-width: 400px;
}
#pageTitle img {
	width: 350px;
}
#fullPage {
	background: url("cornerBottom.svg") no-repeat bottom right, url("cornerTop.svg") no-repeat top left;
	background-size: 200px;
	border: 1px solid #000;

	width: 100%;
}
.bg-light {
	background: black;
}
.winner {
	font-weight: bold;
	color: #0f0;
	padding: 0px 10px;
}
.loser {
	font-weight: bold;
	color: rgb(255, 30, 0);
}
.draw {
	font-weight: bold;
	color: #ffee00;
}
.table-adjust {
	table-layout: fixed;
}

tbody.lead td:first-child,
thead th:first-child {
	text-align: right;
}
tbody.lead td:last-child,
thead th:last-child {
	text-align: left;
}
thead th {
	vertical-align: middle;
}
.firstColocation {
	background: #ffbd1b;
	height: 150px;
}
.secondColocation {
	background: #c0c0c0;
	height: 100px;
}
.thirdColocation {
	background: #cd7f32;
	height: 50px;
}
.quoteText {
	font-weight: bold;
	text-transform: uppercase;
	font-size: 10px;
}
